.vscode/
coremods/
mods/
crash-reports/
kubejs/exported/
local/
logs/
patchouli_books/
saves/
schematics/
screenshots/
XaeroWaypoints/
XaeroWaypoints*/
XaeroWorldMap/
icon.png/
patchouli_data.json
rhino.local.properties
*cache.json
.cache
config/worldedit/.archive-unpack/
config/worldedit/sessions/